<html>
<head>
</head>
<!-- Styles -->
<style>
</style>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
<script src="https://code.highcharts.com/stock/indicators/volume-by-price.js"></script>
<script src="https://code.highcharts.com/stock/indicators/rsi.js"></script>
<script src="https://code.highcharts.com/stock/indicators/bollinger-bands.js"></script>
<body>

<div id="container" style="height: 500px; min-width: 310px"></div>
</body>
<script>
var data = {{jsondatas|tojson|safe}};
    // split the data set into ohlc and volume
    var ohlc = [],
        volume = [],
        dataLength = data.length,
        // set the allowed units for data grouping
        groupingUnits = [[
            'week',                         // unit name
            [1]                             // allowed multiples
        ], [
            'month',
            [1, 2, 3, 4, 6]
        ]],

        i = 0;
	for (i; i < dataLength; i += 1) {
		ohlc.push([
            data[i].Date, // the date
            data[i].Open, // open
            data[i].High, // high
            data[i].Low, // low
            data[i].Close // close
        ]);

        volume.push([
            data[i].Date, // the date
            data[i].Volume // the volume
        ]);
		}

    // create the chart
    Highcharts.stockChart('container', {

        rangeSelector: {
            selected: 2,
	    buttons: [{
              type: 'month',
              count: 1,
              text: '1m'
            }, {
              type: 'month',
              count: 3,
              text: '3m'
            }, {
              type: 'month',
              count: 6,
              text: '6m'
            }, {
              type: 'ytd',
              text: 'YTD'
            }, {
              type: 'year',
              count: 1,
              text: '1y'
            }, {
              type: 'year',
              count: 3,
              text: '3y'
            }, {
              type: 'all',
              text: 'All'
            }]
        },

        title: {
            text: '{{ticker}} Historical'
        },

        subtitle: {
            text: 'With BB and Volume by Price technical indicators'
        },

        yAxis: [{
            startOnTick: false,
            endOnTick: false,
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'OHLC'
            },
            height: '60%',
            lineWidth: 2,
            resize: {
                enabled: true
            }
        }, {
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'RSI'
            },
            top: '65%',
            height: '15%',
            offset: 0,
            lineWidth: 1,
			plotLines: [{
                value: 70,
                color: 'blue',
                width: 1
            }, {
                value: 30,
                color: 'blue',
                width: 1
            }],
        }, {
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'Volume'
            },
            top: '80%',
            height: '20%',
            offset: 0,
            lineWidth: 2
        }],

        tooltip: {
            split: true
        },

        plotOptions: {
            series: {
                dataGrouping: {
                    units: groupingUnits
                }
            }
        },

        series: [{
            type: 'candlestick',
            name: 'S50H21',
            id: 'aapl',
            zIndex: 2,
            data: ohlc
        }, {
            type: 'column',
            name: 'Volume',
            id: 'volume',
            data: volume,
            yAxis: 2
        }, {
            type: 'rsi',
			linkedTo: 'aapl',
			yAxis: 1,
			marker: {
                enabled: false
            }
        }, {
            type: 'vbp',
            linkedTo: 'aapl',
            params: {
                volumeSeriesID: 'volume'
            },
            dataLabels: {
                enabled: false
            },
            zoneLines: {
                enabled: false
            }
        }, {
            type: 'bb',
            linkedTo: 'aapl',
            zIndex: 1,
            marker: {
                enabled: false
            }
        }]
    });

</script>
</html>



